body {
    width: 100vw;
    height: 100vh;
    font-family: 'roboto', sans-serif;
    background-color: #F3F3F3;
}
main {
    width: 100%;
    height: 100%;
    background-color: #F3F3F3;
}
.hidden {
    display: none;
}

/* HEADER */
header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
}
header img:first-child {
    width: 75px;
    height: 53px;
    margin-top: auto;
    margin-bottom: auto;
}
header img:last-child {
    width: 42px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

/* ARTICLE */
article {
    padding-top: 106px;
    width: 100%;
    height: 100%;
}
.chat {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 4px;
    border-radius: 2px;
    background-color: #FFFFFF;
}
.time {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #AAAAAA;
}
.message {
    margin-right: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}
.connected {
    background-color: #DCDCDC;
}
.private {
    background-color: #FFDEDE;
}
.box {
    width: 100%;
    height: 42px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}
footer input[type=text] {
    width: 100%;
    padding-right: 50%;
    padding-left: 17px;
    border: none;
}
footer img {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 25px;
    right: 18px;
}
footer ::-webkit-input-placeholder {
    color: black;
    font-size: 400;
    font-style: italic;  
    font-size: 18px;
    line-height: 21px;
}

/* LOGIN */
.login {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.login img {
    width: 130px;
    height: 92px;
    margin-top: 72px;
    margin-bottom: 94px;
}
.input-name {
    width: 260px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
}
.input-name input {
    width: 100%;
    height: 100%;
    border: 1px solid #D7D7D7;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
}
.login ::-webkit-input-placeholder {
    color: #AEAEAE;
    font-style: normal;
    font-size: 400; 
    font-size: 18px;
    line-height: 25px;
}
.login-chat {
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;       
}
.login-chat p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #696969;
    padding-top: 10px;
    box-sizing: border-box;
}